<%= form_for(@recipe, remote: true, method: "patch", html: {class: "edit-recipe-form"}, Authorization: local_assigns[:auth]) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this @recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<label for="title">Title:</label>
		<%= f.text_field :title, class: "form-control", id: "title" %>
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<%= f.text_area(:description, class: "form-control", rows: 5, id: "description") %>
	</div>
	<div class="form-group">
		<label for="title">Meal:</label>
		<%= f.text_field :meal, class: "form-control", id: "meal"%>
	</div>
	<div class="form-group">
			<label for="Image">Image:</label>
			<%= f.text_field :picture, class: "form-control", id: "meal"%>
	</div>
    <%= f.submit 'Submit', class: "edit-recipe-button" %>
<% end %>