<div class="admin-cont">
	<nav class="navbar navbar-default navbar-static-top">
		  <div class="container" auth_token="" user_id="">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">Recipe Book Admin Panel</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav navbar-right">
				 	 <li><a href="/">Home</a></li>
			  </ul>
			</div>
		  </div>
    	</nav>

		<div class="container-fluid">

		  <!-- Main component for a primary marketing message or call to action -->
		  <div class="row">
			  <div class="table-div col-sm-7 col-xs-12" style="height: auto; overflow-y: scroll;max-height: 400px;">
				  <h2>Recipes</h2>
					  <table class="table table-striped table-responsive ">
						<thead>
						  <tr>
							  <th>ID</th>
							  <th>Title</th>
							  <th>Edit</th>
							  <th>Delete</th>
							  <th>Edit Steps</th>
							  <th>Edit Ingredients</th>
						  </tr>
						</thead>
						<tbody class="recipe-table-body">
						</tbody>
					  </table>
			  </div>
			  <div class="col-md-4 col-md-offset-1 col-xs-8" style="position: fixed; right: 0; background: white; z-index:5">
				  <div class="edit-recipe-grouping">
				  </div>
				  <div class="edit-step-grouping" style="display: none;">
					  <h2>Editing Steps:</h2>
					  <form >
						  <div class="form-group">
							<label for="order">Order:</label>
							<input type="text" class="form-control" id="order">
						  </div>
						  <div class="form-group">
								<label for="Instruction">Instruction:</label>
								<textarea class="form-control" rows="5" id="Instruction"></textarea>
						  </div>
						  <input type="hidden" name="id" value="0">
						  <button type="submit" class="btn btn-default">Submit</button>
					</form>
				  </div>
				  <div class="edit-step-grouping" style="display: none;">
					  <h2>Editing Ingredients:</h2>
					  <form >
						  <div class="form-group">
							<label for="Amount">Amount:</label>
							<input type="text" class="form-control" id="amount">
						  </div>
						  <div class="form-group">
								<label for="Name">Name:</label>
								<textarea class="form-control" rows="5" id="Name"></textarea>
						  </div>
						  <input type="hidden" name="id" value="0">
						  <button type="submit" class="btn btn-default">Submit</button>
					</form>
				  </div>
			  </div>
		  </div>
			<div class="row edit-steps" >
				 <div class="table-div col-sm-7 col-xs-12" style="height: auto; overflow-y: scroll;max-height: 400px;">
				  <h2>Steps</h2>
					  <table class="table table-striped table-responsive ">
						<thead>
						  <tr>
							  <th>ID</th>
							  <th>Order</th>
							  <th>Instruction</th>
							  <th>Edit</th>
							  <th>Delete</th>
						  </tr>
						</thead>
						<tbody class="step-table-body">
							
						</tbody>
					  </table>
			  	</div>
			</div>
			<div class="row edit-ingredients" >
				 <div class="table-div col-sm-7 col-xs-12" style="height: auto; overflow-y: scroll; max-height: 400px;">
				  <h2>Ingredients</h2>
					  <table class="table table-striped table-responsive ">
						<thead>
						  <tr>
							  <th>ID</th>
							  <th>Amount</th>
							  <th>Name</th>
							  <th>Edit</th>
							  <th>Delete</th>
						  </tr>
						</thead>
						<tbody class="ingredient-table-body">
						</tbody>
					  </table>
			  	</div>
			</div>
		</div> <!-- /container -->
</div>

<% if current_user == nil %>
	<div class="login-box">
		<h2>Login</h2>
		<%= form_for(@user = User.new, url: sessions_path(), html: {:remote => true, format: :json, class: :login_form }) do |f| %>
	  		<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true %>
			</div>

			<div class="field">
				<%= f.label :password %><br />
				<%= f.password_field :password, autocomplete: "off" %>
			</div>


	  		<div class="actions" style="margin-top: 20px;">
				<%= f.submit "Log in" %>
	  		</div>
		<% end %>

	</div>

	<style>
		.admin-cont {
			filter: blur(20px) grayscale(20%);"
		}
		body {
			overflow-y: scroll !important;
			padding-bottom: 20px;
		}
		.login-box {
			padding: 150px;
			background: white;
			position: absolute;
			border:1px solid black;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%) ;
			z-index: 15;
			text-align: center;
		}
	</style>
<% end %>