<!DOCTYPE html>
<html>
  	<head>
    	<title>Dan's Cook Book</title>
	  		<script src="https://use.fontawesome.com/847d4f98dd.js"></script>
			<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
			<%= csrf_meta_tags %>

			<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
			<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<% if @adminPage %>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<% end %>
	</head>

<body class="<%= controller_name %> <%= action_name %>">
	<% if @adminPage == false %>
	<div class="container-normal">
		<!-- Menu -->
		<i class="fa fa-bars" aria-hidden="true" onclick="menuChange();"></i>
		  
		<!-- search bar -->
		<i class="fa fa-search" aria-hidden="true" onclick="searchChange();"></i>
		<div class="search-open" style="display: none;">
			<input type="text" class="search-field" name="search" style="width: 100%; height: 100%; position: relative; padding: 0; margin: 0;">
		</div>
		
		<div class="search-open-results" style="display: none;" >
		</div>
			
		<div class="menu-open" style="display: none;">
			<section class="meal-titles all-meals" onclick="openRecipes('all-meals-recipes');">
				<h4>All Recipes</h4>
			</section>
			<section class="recipe-titles all-meals-recipes" >
			</section>
			<section class="meal-titles breakfast" onclick="openRecipes('breakfast-recipes');">
				<h4>Breakfast Recipes</h4>
			</section>
			<section class="recipe-titles breakfast-recipes">
			</section>
			<section class="meal-titles lunch" onclick="openRecipes('lunch-recipes');">
				<h4>Lunch Recipes</h4>
			</section>
			<section class="recipe-titles lunch-recipes"></section>
			<section class="meal-titles dinner" onclick="openRecipes('dinner-recipes');">
				<h4>Dinner Recipes</h4>
			</section>
			<section class="recipe-titles dinner-recipes"></section>
			<section class="meal-titles dessert" onclick="openRecipes('dessert-recipes');">
				<h4>Dessert Recipes</h4>
			</section>
			<section class="recipe-titles dessert-recipes"></section>
			<section class="meal-titles snack" onclick="openRecipes('snack-recipes');">
				<h4>Snack Recipes</h4>
			</section>
			<section class="recipe-titles snack-recipes"></section>
		</div>
		<div class="main-text">
			<h1>Welcome to my<br />Cook Book</h1>
		</div>
	</div>
	<div class="recipe-container">
		<section class="recipe-container-title">
			<h2 class="ind-recipe-title"></h2>
		</section>
		<section class="recipe-container-image">
			<img class="ind-recipe-image" src="#">
		</section>
		<section class="recipe-container-description">
			<h3 class="ind-recipe-description"></h3>
			<h4 class="ind-recipe-url"></h4>
		</section>
		<section class="recipe-container-ingredients">
			<h3>Ingredients:</h3>
			<ol class="ind-recipe-ingredients">
			</ol>
		</section>
		<section class="recipe-container-steps">
			<h3>Instructions:</h3>
			<ol class="ind-recipe-steps">
			</ol>
		</section>
	</div>
	<% else %>
		<style>
			body, html {
				background: white;
			}
		</style>
	<% end %>
	<%= yield %>
  </body>
</html>
